* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}

.menu {
  width: 130px;
  height: 130px;
  cursor: pointer;
}

div a {
  padding: 0;
}

h1 {
  background-image: url('https://res.cloudinary.com/ditkcrwd0/image/upload/v1710157318/project-landing/fondo_proyecto_id3crv.png');
  background-repeat: repeat;
  background-size: 50% 100%;
  width: 100%;
  height: 16pc;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 60px;
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

ol {
  display: flex;
  padding: 18px;
  align-items: end;
  justify-content: space-evenly;
  background-color: rgb(201, 201, 201);
  list-style-type: none;
  color: black;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
  font-weight: bold;
}

input {
  height: 25px;
  color: purple;
}

input:hover {
  background-color: rgb(183, 115, 247);
  color: black;
}

.search {
  height: 30px;
  width: 80px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
  background-color: rgb(183, 115, 247);
  border-radius: 5px;
  border: solid rgb(183, 115, 247);
  cursor: pointer;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-evenly;
}

li {
  margin-left: 12px;
  margin-right: 12px;
}

.first-line {
  width: 210px;
  margin: 200px auto;
  padding: 10px 0px;
  gap: 20px;
}

#clothes {
  border-radius: 10px;
  gap: 20px;
  box-shadow: 0px 6px 23px -15px rgba(0, 0, 0, 0.75);
  transition: transform 0.5s;
}

#decoration-painting {
  border-radius: 10px;
  box-shadow: 0px 6px 23px -15px rgba(0, 0, 0, 0.75);
  transition: transform 0.5s;
}

#decoration-pieces {
  border-radius: 10px;
  gap: 20px;
  box-shadow: 0px 6px 23px -15px rgba(0, 0, 0, 0.75);
  transition: transform 0.5s;
}

#cup {
  border-radius: 10px;
  gap: 20px;
  box-shadow: 0px 6px 23px -15px rgba(0, 0, 0, 0.75);
  transition: transform 0.5s;
}

#warm-bottle {
  border-radius: 10px;
  gap: 20px;
  box-shadow: 0px 6px 23px -15px rgba(0, 0, 0, 0.75);
  transition: transform 0.5s;
}

.second-line {
  width: 210px;
  margin: 200px auto;
  padding: 10px 0px;
}

#chess-history {
  border-radius: 10px;
  gap: 20px;
  box-shadow: 0px 6px 23px -15px rgba(0, 0, 0, 0.75);
  transition: transform 0.5s;
}

#manual {
  border-radius: 10px;
  gap: 20px;
  box-shadow: 0px 6px 23px -15px rgba(0, 0, 0, 0.75);
  transition: transform 0.5s;
}

#sheets {
  border-radius: 10px;
  gap: 20px;
  box-shadow: 0px 6px 23px -15px rgba(0, 0, 0, 0.75);
  transition: transform 0.5s;
}

#clock {
  border-radius: 10px;
  gap: 20px;
  box-shadow: 0px 6px 23px -15px rgba(0, 0, 0, 0.75);
  transition: transform 0.5s;
}

#chessboard {
  border-radius: 10px;
  gap: 20px;
  box-shadow: 0px 6px 23px -15px rgba(0, 0, 0, 0.75);
  transition: transform 0.5s;
}

#wood-pieces {
  border-radius: 10px;
  gap: 20px;
  box-shadow: 0px 6px 23px -15px rgba(0, 0, 0, 0.75);
  transition: transform 0.5s;
}

#glass-pieces {
  border-radius: 10px;
  gap: 20px;
  box-shadow: 0px 6px 23px -15px rgba(0, 0, 0, 0.75);
  transition: transform 0.5s;
}

#caseboard {
  border-radius: 10px;
  gap: 20px;
  box-shadow: 0px 6px 23px -15px rgba(0, 0, 0, 0.75);
  transition: transform 0.5s;
}

#electronic-board {
  border-radius: 10px;
  gap: 20px;
  box-shadow: 0px 6px 23px -15px rgba(0, 0, 0, 0.75);
  transition: transform 0.5s;
}

#chess-set {
  border-radius: 10px;
  gap: 20px;
  box-shadow: 0px 6px 23px -15px rgba(0, 0, 0, 0.75);
  transition: transform 0.5s;
}

a {
  font-size: 20px;
  display: flex;
  justify-content: center;
}

#clothes:hover {
  transform: scale(1.1);
}

#decoration-painting:hover {
  transform: scale(1.1);
}

#decoration-pieces:hover {
  transform: scale(1.1);
}

#cup:hover {
  transform: scale(1.1);
}

#warm-bottle:hover {
  transform: scale(1.1);
}

#chess-history:hover {
  transform: scale(1.1);
}

#manual:hover {
  transform: scale(1.1);
}

#sheets:hover {
  transform: scale(1.1);
}

#clock:hover {
  transform: scale(1.1);
}

#chessboard:hover {
  transform: scale(1.1);
}

#wood-pieces:hover {
  transform: scale(1.1);
}

#glass-pieces:hover {
  transform: scale(1.1);
}

#caseboard:hover {
  transform: scale(1.1);
}

#electronic-board:hover {
  transform: scale(1.1);
}

#chess-set:hover {
  transform: scale(1.1);
}

img {
  width: 200px;
  height: 200px;
}

.products {
  cursor: pointer;
  padding: 10px 20px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(183, 115, 247);
}

aside {
  font-size: 30px;
  color: black;
  border-radius: 5px;
  border: solid rgb(56, 225, 231) 5px;
  display: flex;
  justify-content: start;
  width: 25%;
  margin-top: 60px;
  margin-bottom: 100px;
  margin-left: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

/* El aside va a tener colores que parpadeen para llamar más la atención */

article {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-size: 30px;
  font-family: 'Courier New';
  font-weight: bold;
  padding: 10px;
}

p {
  color: grey;
  font-size: 18px;
  display: flex;
  justify-content: center;
  position: sticky;
}

@media screen and (max-width: 375px) {
  h1 {
    font-size: 30px;
    height: 5pc;
  }
  ol {
    display: none;
  }
  article {
    font-size: 18px;
  }
  .menu {
    margin-left: 36%;
  }
}

@media screen and (max-width: 375px) {
  a {
    font-size: 15px;
  }
  img {
    width: 90px;
    height: 100px;
  }
  ul {
    display: flex;
    flex-direction: column;
    width: 152px;
    gap: 20px;
  }
  button {
    width: 80px;
    height: 30px;
    font-size: 10px;
  }
  .third-line {
    display: flex;
    justify-content: center;
  }
  .second-line {
    display: flex;
    justify-content: center;
  }
  .first-line {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 375px) {
  aside {
    font-size: 15px;
    width: 50%;
    margin-left: 80px;
  }
  p {
    font-size: 10px;
  }
}

@media screen and (max-width: 768px) and (min-width: 375px) {
  h1 {
    font-size: 30px;
    height: 8pc;
  }
  ol {
    display: none;
  }
  .menu {
    display: block;
    margin-left: 36%;
  }
}

@media screen and (max-width: 768px) and (min-width: 375px) {
  .first-line {
    display: flex;
    justify-content: center;
  }
  .second-line {
    display: flex;
    justify-content: center;
  }
  .third-line {
    display: flex;
    justify-content: center;
  }
  ul {
    display: flex;
    flex-direction: column;
    width: 152px;
    gap: 20px;
  }
}
